# ==============================
# Common Configuration
# ==============================

ASPNETCORE_ENVIRONMENT=

ApiSettings__Secret=
ApiSettings__Issuer=
ApiSettings__Audience=


# ==============================
# Docker Configuration
# ==============================

Docker__ASPNETCORE_HTTP_PORTS=

Docker__ConnectionStrings__DefaultConnection=


# ==============================
# HTTP / Local Configuration
# ==============================

Http__ASPNETCORE_HTTP_PORTS=

Http__ConnectionStrings__DefaultConnection=